.modal-overlaw-skin {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.863);
  z-index: 100;
}

.modal-skin {
  background: url('../imgs/background-effect-two.png') ;
  background-color: #181616;
  width: 60%;
  height: 63%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto; 
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: 0;
  z-index: 600;
  box-shadow: 10px 15px 30px rgb(0, 0, 0);
  font-family: DINNextW1G,arial,georgia,sans-serif;
  border-radius: 10px;
}

.modal-skin-btn-sair {
  color: white;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  z-index: 700;
}

.modal-skin-btn-sair:hover {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(300deg) brightness(95%) contrast(100%);
}

.modal-skin-btn-sair span{
  font-size: 30px;
  cursor: pointer;
}

/* Local do tamanho da img */
.local-skin-geral {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.local-infos {
  width: 50%;
  height: 100%;
}

.cards-armas-skin {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8px;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.card-skin-large {
  width: 120%;
  transform: translate(-35px, -20px) rotate(45deg);
  transition: 0.24s all ease-in-out;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.4));
}

.card-skin-pequena {
  width: 90%;
  transform: translate(-35px, -20px) rotate(45deg);
  transition: 0.24s all ease-in-out;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.4));
}

.card-armas-facas-pequena {
  width: 200px;
  transform: translate(-35px, -20px) rotate(75deg);
  transition: 0.24s all ease-in-out;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.4));
}

.card-armas-facas-large {
  width: 300px;
  transform: translate(-35px, -20px) rotate(75deg);
  transition: 0.24s all ease-in-out;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.4));
}

/* Local chromas */
.local-chromas {
  display: flex;
  margin-left: 23px;
  width: 100%;
}

.chromas-img {
  width: 8%;
  margin: 2px 8px 0px 0px;
  cursor: pointer;
}

.chromas-img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Local Level */
.level-skin-arma {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.level-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
  height: 100%;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  color: #ffffff;
  background: url('../imgs/level.png') no-repeat;
  background-position: center;
  background-size: 80px;
  cursor: pointer;
  filter: brightness(100);
  font-size: 160%;
}

.level-div:hover {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(300deg) brightness(95%) contrast(100%);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
/* Local video*/
.video-level {
  border-radius: 20px;
  width: 100%;
  box-shadow: 10px 15px 20px black;
}

.message-sem-level {
  color: #ffffff;
}
